#tableForArr {
    width: 100%;
    border-collapse: collapse;
    border-bottom:1px solid silver;
    border-top:2px solid silver;
}

#tableForArr th, #tableForArr td {
    border: #9E9E9E 1px solid; /*TODO !!!!*/
    padding: 5px 10px;
    border:none;
    border:1px solid silver; /* TODO Double created border property */
    text-align: center;

}
#tableForArr th{
    background:#90A4AE;
    font-weight: bold;
}
#tableForArr tr:nth-child(2n) {
    background: #E0E0E0; /* Цвет фона четных строк */
}

#tableForArr tr:hover {
    background:#B2DFDB; /* Цвет фона под ссылкой */
    color: #ffe; /* Цвет ссылки */
}